<div class="container">
  <div class="py-5">
    <p class="display-3 text-danger text-center" *ngIf="errors">{{errors}}</p>
    <div *ngIf="vehiclesData!=undefined">

      <!--      search-->
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <form [formGroup]="formGroup" (ngSubmit)="searchVehicle()">
            <div class="input-group mb-3">
              <input formControlName="keyword"  type="text"  class="form-control"  placeholder="search" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <button  class="btn " style="background-color: rgb(246,143,143)" type="submit" id="button-addon1"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
      </div>

      <!--      info-->
      <div class="d-flex ">
        <div class="border m-3 w-25 text-center shadow-sm border-danger rounded-3 " style="height: 50px"><i class="bi bi-car-front-fill" style="font-size: 25px"> Vehicles: {{nbrVehicle}} </i> </div>
        <div class="border m-3 w-25 text-center shadow-sm  border-danger rounded-3" style="height: 50px"><i class="bi bi-person" style="font-size: 25px"> Owners: {{nbrOwners}} </i> </div>

      </div>
<!--      table-->
      <table class="table rounded-5 shadow-lg" >
        <thead class="text-center">
        <tr>
          <th>Registration Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Fiscal Power</th>
          <th>Owner</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let v of vehiclePage.data">
          <td>{{v.registrationNumber}}</td>
          <td>{{v.brand}}</td>
          <td>{{v.model}}</td>
          <td>{{v.fiscalPower}}</td>
          <td>{{v.owner.name}}</td>
          <td>{{v.owner.email}}</td>
        </tr>

        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let i of indxPage" ><button (click)="changePage(i)" [ngClass]="i==vehiclePage.page?'btn-outline-danger':''" class="btn" style="background-color: #D9D9D9">{{i}}</button></li>
      </ul>
    </div>
  </div>

</div>
