<div class="container p-5 d-flex  ">
  <div class="card  shadow-lg  mx-lg-5 border-bottom border-danger" style="width: 20rem; height: 75vh">
    <img src="../../../assets/img/fast.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text display-6 text-center">providing comprehensive speed violation monitoring</p>
    </div>
  </div>
  <div class="card shadow-lg mx-5 border-bottom border-danger" style="width: 20rem; height: 75vh">
    <img src="../../../assets/img/ownerInfrac.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text display-6 text-center">offering comprehensive speed violation monitoring</p>
    </div>
  </div>
  <div class="card shadow-lg mx-5 border-bottom border-danger" style="width: 20rem; height: 75vh">
    <img src="../../../assets/img/notify.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text display-6 text-center  ">Gain access to your speed violation information</p>
    </div>
  </div>
</div>
