<div class="container">
  <div class="py-5">
    <p class="display-3 text-danger text-center">{{error}}</p>
    <div *ngIf="radarData!=undefined">
    <!--      <p class="text-success display-2 text-center">Radars List</p>-->
      <!--      search-->
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <form [formGroup]="formGroup" (ngSubmit)="searchRadars()">
            <div class="input-group mb-3">
              <input formControlName="keyword"  type="text"  class="form-control"  placeholder="search" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <button  class="btn " style="background-color: rgb(246,143,143)" type="submit" id="button-addon1"><i class="bi bi-search"></i></button>
            </div>
          </form>

        </div>

      </div>
<!--info-->
      <div class="d-flex ">
        <div class="border m-3 w-25 text-center shadow-sm border-danger rounded-3" style="height: 50px"><i class=" bi bi-radioactive" style="font-size: 25px"> Radars: {{radarNbr}}</i> </div>
        <div class="border m-3 w-25 text-center shadow-sm  border-danger rounded-3" style="height: 50px"><i class="bi bi-toggle-on" style="font-size: 25px"> Radars ON: {{radarOn}}</i> </div>

      </div>

  <!--      table-->
      <table class="table rounded-5 shadow-lg" >
        <thead class=" text-center">
          <tr>
            <th>RadaraId</th>
            <th>Max Speed</th>
            <th>Coordonates</th>

          </tr>
        </thead>
        <tbody class="text-center">

          <tr  *ngFor="let r of radarPages.data">
            <td>{{r.id}}</td>
            <td>{{r.vitessMax}} KM/H</td>
            <td>{{r.courdonnees[0]|number:'.2-2'}} | {{r.courdonnees[1]|number:'.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let i of indxPages"><button (click)="changePage(i)" [ngClass]="i==radarPages.page?'btn-outline-danger':''"  class="btn ms-1" style="background-color: #D9D9D9">{{i}}</button></li>
      </ul>
    </div>
  </div>

</div>
